:root {
    --color-dark-green: #1F2E35;
    --color-green: #1F2E35CC;
    --color-dark-grey: #263238;
    --color-semidark-grey: #30444E;
    --color-red: #EE4248;
    --color-white: #FFFFFF;
    --color-darkgrey: #A9A9A9FF;
}