.content {

}

/*information technology block*/

.content-information-technology {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 10px;
}

.information-technology-header__text {
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color: var(--color-dark-green);
    width: 545px;
    height: 192px;
    margin-bottom: 24px;
}

.information-technology-header__text-decor {
    color: var(--color-red);
}

.information-technology-paragraph__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: var(--color-semidark-grey);
    width: 520px;
    height: 58px;
    margin-bottom: 24px;
}

.information-technology__link {
    width: 161px;
    height: 53px;
    left: 0;
    top: 372px;
    background: var(--color-red);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.content-image {

}

.content-image__img {

}

/*welcome to dwidasa block*/

.content-image {

}

.content-image__img {

}

.welcome-to-dwidasa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 10px;
}

.welcome-to-dwidasa-header__text {
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: var(--color-dark-green);
    width: 454px;
    height: 86px;
    margin-bottom: 24px;
}

.welcome-to-dwidasa-header__text-decor {
    color: var(--color-red);
}

.welcome-to-dwidasa-paragraph__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-semidark-grey);
    width: 520px;
    padding: 5px;
}

.welcome-to-dwidasa-paragraph__text-decor {
    color: var(--color-red);
}

/*product-and-service block*/

.product-and-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-and-service__header-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    text-align: center;
    color: var(--color-dark-green);
    height: 43px;
    margin-bottom: 17px;
}

.our-product {

}

.our-product__img {

}

.our-product__header-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    color: var(--color-red);
    width: 151px;
    height: 37px;
}

.our-product__paragraph-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-semidark-grey);
    width: 319px;
    height: 108px;
}

.our-product__link {
    width: 119px;
    height: 42px;
    background: var(--color-red);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px 16px;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 144.69%;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.our-service {

}

.our-service__img {

}

.our-service__header-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    color: var(--color-red);
    width: 151px;
    height: 37px;
}

.our-service__paragraph-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-semidark-grey);
    width: 319px;
    height: 108px;
}

.our-service__link {
    width: 119px;
    height: 42px;
    background: var(--color-red);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px 16px;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 144.69%;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.our-technology {
    margin-bottom: 87px;
}

.our-technology__img {

}

.our-technology__header-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    color: var(--color-red);
    height: 37px;
}

.our-technology__paragraph-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-semidark-grey);
    width: 319px;
    height: 108px;
}

.our-technology__link {
    width: 119px;
    height: 42px;
    background: var(--color-red);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px 16px;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 144.69%;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
