.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1130px;
    height: 200px;
}

.location-and-contact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 100px;
}

.location {
    margin-right: 50px;
}

.location-heading__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-dark-grey);
}

.location-paragraph__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
    color: var(--color-dark-grey);
}

.contact {

}

.contact-heading__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-dark-grey);
}

.contact-paragraph__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
    color: var(--color-dark-grey);
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
}

.copyright__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-white);
    background: var(--color-red);
    padding: 20px;
    text-align: center;
}