.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-darkgrey);
    height: 100px;
    margin-bottom: 50px;
}

.navbar-logo {

}

.navbar-options {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.navbar-options__link:not(:last-child) {
    margin-right: 50px;
}

.navbar-buttons {

}

.navbar-button__link:not(:last-child) {
    margin-right: 24px;
}