


.page-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: var(--color-white);
    width: 1130px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

}

.content {
    flex: 1 1 auto;
}